
#conda create --name misa python==3.7.5
#conda activate misa

torch==1.13.1
transformers==2.5.1 
gensim==3.8.1
scikit-learn 
scipy 
matplotlib
ipywidgets
h5py 
validators 
tqdm 
numpy 
argparse 
requests 
colorama
